$color0: #10101f;
$color1: #616F96;
$color2: #AB70A9;
$color3: #DF76A8;
$color4: #B27FC5;
$color5: #68A1AF;
$color6: #7CD2A1;
$color7: #b3d1dc;
$color8: #7d929a;
$color9: #616F96;
$color10: #AB70A9;
$color11: #DF76A8;
$color12: #B27FC5;
$color13: #68A1AF;
$color14: #7CD2A1;
$color15: #b3d1dc;

* {
	font-family: 'JetBrainsMono Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: white;
}

.container {

	.bar {
		margin: 16px;
		margin-bottom: 0;

		.left,
		.center,
		.right {
			background-color: $color0;
			border-radius: 50px;
		}

		.left {
			min-width: 600px;

			.battery {
				
				.icon {
					font-size: 32px;
					margin-right: 10px;
					color: $color6;
				}
				.text {
				}
			}

			.brightness {
				trough {
					background: $color1;
					border: 0;
					border-radius: 16px;
					min-height: 16px;

					slider {
						background: $color2;
						all: unset;
					}

					highlight {
						background: $color2;
						border: 0;
						border-radius: 16px;
					}
				}
			}

			.volume {
				trough {
					background: $color1;
					border: 0;
					border-radius: 16px;
					min-height: 16px;

					slider {
						background: $color3;
						all: unset;
					}

					highlight {
						background: $color3;
						border: 0;
						border-radius: 16px;
					}
				}
			}
		}

		.center {
			background-color: $color0;
			padding: 0 48px;
		}

		.right {
			background-color: $color0;
			padding: 0 48px;
		}
	}
}