$color_1: #000000;
$color_2: #000000;
$color_3: #ff0000;
$color_4: #ff0000;
$color_5: #ff0000;
$color_6: #ff0000;
$color_7: #ff0000;
$color_8: #ff0000;
$color_9: #ff0000;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}