$color_1: #F6F0F9;
$color_2: #DDC3EA;
$color_3: #E2CDE8;
$color_4: #AA96DB;
$color_5: #e25987;
$color_6: #e25987;
$color_7: #A13575;
$color_8: #AA96DB;
$color_9: #3b373b;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}