* {
  font-family: 'FiraCode Nerd Font Mono';
  font-size: 20px;
  background: transparent;
  color: #e5e5e5; }

.bar {
  margin: 16px 24px;
  margin-bottom: 0; }
  .bar .left,
  .bar .center,
  .bar .right {
    background-color: #23253C;
    border-radius: 10px;
    margin: 0 10px;
    border: 3px solid #fec262; }
  .bar .left {
    padding: 0 24px; }
    .bar .left .battery .icon,
    .bar .left .battery .status,
    .bar .left .battery .percent {
      color: #85ba86; }
    .bar .left .battery .icon {
      font-size: 20px;
      margin-right: 10px; }
    .bar .left .battery .percent {
      font-weight: bold; }
    .bar .left .brightness {
      margin-left: 32px; }
      .bar .left .brightness .icon {
        font-size: 32px;
        margin-right: 10px;
        color: #fec262; }
      .bar .left .brightness .slider {
        min-width: 150px; }
        .bar .left .brightness .slider trough {
          background: #131421;
          border: 0;
          border-radius: 0px;
          min-height: 16px; }
          .bar .left .brightness .slider trough slider {
            all: unset; }
          .bar .left .brightness .slider trough highlight {
            background: #fec262;
            border: 0;
            border-radius: 0px; }
    .bar .left .volume {
      margin-left: 32px; }
      .bar .left .volume .icon {
        font-size: 32px;
        margin-right: 10px;
        color: #b877b4; }
      .bar .left .volume .slider {
        min-width: 150px; }
        .bar .left .volume .slider trough {
          background: #131421;
          border: 0;
          border-radius: 0px;
          min-height: 16px; }
          .bar .left .volume .slider trough slider {
            all: unset; }
          .bar .left .volume .slider trough highlight {
            background: #b877b4;
            border: 0;
            border-radius: 0px; }
    .bar .left .workspaces .workspace {
      all: unset;
      min-height: 10px;
      min-width: 30px;
      margin: 0 10px; }
      .bar .left .workspaces .workspace label {
        font-size: 32px;
        color: #e5e5e5; }
        .bar .left .workspaces .workspace label.focus {
          color: #b877b4; }
  .bar .center {
    padding: 8px 48px; }
  .bar .right {
    padding: 0 24px; }
    .bar .right .network .icon {
      all: unset;
      margin-right: 16px;
      font-size: 32px;
      color: #63aec0; }
    .bar .right .network label {
      color: #63aec0;
      font-weight: bold;
      margin-right: 32px; }

.fullInfo {
  background-color: rgba(19, 20, 33, 0.8); }
  .fullInfo .top {
    padding: 32px; }
    .fullInfo .top .date,
    .fullInfo .top .title,
    .fullInfo .top .ip {
      padding: 24px 48px;
      border-radius: 16px;
      box-shadow: 0 0 20px -10px black;
      background-color: #23253C;
      margin: 0 32px; }
    .fullInfo .top .date label {
      font-size: 24px; }
    .fullInfo .top .title {
      color: #85ba86;
      font-family: 'Pacifico';
      font-size: 36px;
      font-weight: 800; }
    .fullInfo .top .ip {
      font-size: 24px; }
  .fullInfo .center {
    padding: 32px; }
    .fullInfo .center .players .fullPlayer {
      background-color: #23253C;
      box-shadow: 0 0 20px -10px black;
      padding: 32px;
      border-radius: 16px; }
      .fullInfo .center .players .fullPlayer .cover {
        background-size: cover;
        background-position: center;
        min-height: 426px;
        min-width: 426px;
        border: 4px solid #fec262;
        border-radius: 16px;
        box-shadow: inset 0 0 5px black; }
        .fullInfo .center .players .fullPlayer .cover .info {
          background: rgba(0, 0, 0, 0.5);
          padding: 20px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px; }
          .fullInfo .center .players .fullPlayer .cover .info .title {
            font-weight: bold; }
          .fullInfo .center .players .fullPlayer .cover .info .author {
            margin-top: 16px; }
      .fullInfo .center .players .fullPlayer .commands {
        margin-top: 16px;
        margin-left: 64px;
        margin-right: 64px; }
        .fullInfo .center .players .fullPlayer .commands .button {
          all: unset;
          padding: 8px;
          margin: 8px; }
          .fullInfo .center .players .fullPlayer .commands .button label {
            font-size: 40px; }
    .fullInfo .center .players .halfPlayer {
      background-color: #23253C;
      margin-bottom: 16px;
      padding: 16px;
      border-radius: 16px;
      box-shadow: 0 0 20px -10px black; }
      .fullInfo .center .players .halfPlayer .cover {
        min-width: 200px;
        min-height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        border: 4px solid #fec262;
        box-shadow: inset 0 0 5px black; }
      .fullInfo .center .players .halfPlayer .info {
        padding: 16px; }
        .fullInfo .center .players .halfPlayer .info .title {
          font-weight: 600; }
        .fullInfo .center .players .halfPlayer .info .author {
          margin-top: 8px; }
      .fullInfo .center .players .halfPlayer .commands {
        margin: 0 32px; }
        .fullInfo .center .players .halfPlayer .commands .button {
          all: unset;
          padding: 8px;
          margin: 8px; }
          .fullInfo .center .players .halfPlayer .commands .button label {
            font-size: 32px; }

.popupInfo {
  margin: 32px; }
  .popupInfo .notifications .notification {
    padding-left: 24px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 1000px;
    background-color: #23253C;
    border: 3px solid #fec262;
    min-width: 450px; }
    .popupInfo .notifications .notification .icon label {
      font-size: 64px;
      margin-right: 32px; }
    .popupInfo .notifications .notification .title {
      font-weight: bold; }
    .popupInfo .notifications .notification .actions .action_button {
      all: unset; }

.themeChanger {
  opacity: 0.9; }
  .themeChanger .container .title {
    color: #85ba86;
    font-size: 72px;
    background-color: #23253C;
    font-family: Pacifico;
    margin: 32px;
    padding: 32px 62px;
    border-radius: 16px;
    border: 4px solid #fec262; }
  .themeChanger .container .list {
    padding: 32px;
    background-color: #23253C;
    border-radius: 16px;
    border: 4px solid #fec262; }
    .themeChanger .container .list .row .theme .image {
      border-radius: 16px; }
