@use "variables.scss" as *;

.Apps {
    * {
        all: unset;
    }

    .revealer {

        .appsContainer {
            background-color: $color_2;
            padding: 32px;
            border-radius: 16px;
            box-shadow: 0px 0px 16px #00000060;

            .titleEl {
                margin: 0;
                padding: 0;
                margin-bottom: 32px;
            }

            .scrollable {

                .apps {


                    .app {
                        background-color: $color_1;
                        border-radius: 16px;
                        padding: 16px;
                        margin-bottom: 16px;
                        opacity: 0.3;

                        &.selected {
                            opacity: 1;
                            box-shadow: 0px 0px 4px #00000060;
                            border: 2px solid $color_4;
                        }

                        .icon {
                            font-size: 32px;
                            margin-right: 16px;
                        }

                        .name {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}