@use "variables.scss" as *;

.Brightness {
    .revealer {
        padding: 32px;

        .brightnessContainer {
            background-color: $color_1;
            padding: 32px 64px;
            margin-top: 1200px;
            border-radius: 500px;
            box-shadow: 0px 0px 16px #00000080;

            icon {
                color: $color_8;
                font-size: 48px;
                margin-right: 32px;
            }

            trough {
                background: $color_2;
                border: 0;
                border-radius: 0px;
                min-height: 32px;
                border-radius: 16px;
            }

            highlight {
                background: $color_8;
                border: 0;
                border-radius: 16px;
            }

            slider {
                all: unset;
            }

            scale {
                all: unset;
            }

        }
    }
}