$color_1: #131421;
$color_2: #23253C;
$color_3: #dd83a0;
$color_4: #63aec0;
$color_5: #e25987;
$color_6: #85ba86;
$color_7: #b877b4;
$color_8: #fec262;
$color_9: #e5e5e5;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}