.sidebar {
    background-image: linear-gradient(90deg, $color_1 50%, transparent);
    border: none;

    .top {
        .connections {
            margin: 32px;

            .title {
                font-family: Pacifico;
                font-size: 2.5rem;
                background-color: $color_1;
                padding: 8px 60px;
                border-radius: 16px;
                margin-bottom: 16px;
                margin-top: 8px;
                color: $color_4;
            }

            .connectionsContainer {
                button {
                    all: unset;
                    padding: 12px 32px;
                    background-color: $color_1;
                    margin: 4px 0;
                    border-radius: 8px;

                    &:hover {
                        background-color: rgba($color_6, 0.8);
                        transition: .2s;

                        label {
                            color: $color_1;
                        }
                    }

                    &.selected {
                        background-color: $color_6;

                        label {
                            color: $color_1;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .center {}

    .bottom {
        .players {
            margin: 16px;

            .fullPlayer {
                background-color: $color_2;
                box-shadow: 0 0 20px -10px black;
                padding: 0px;
                border-radius: 16px;

                .cover {
                    background-size: cover;
                    background-position: center;
                    min-height: 100px;
                    min-width: 400px;
                    border: 4px solid $color_8;
                    border-radius: 16px;
                    box-shadow: inset 0 0 5px black;

                    .info {
                        background: rgba(0, 0, 0, 0.5);
                        padding: 20px;
                        border-radius: 16px;

                        .title {
                            font-weight: bold;
                        }

                        .author {
                            margin-top: 16px;
                        }
                    }
                }

                .commands {
                    margin-top: 0px;
                    margin-left: 64px;
                    margin-right: 64px;

                    .button {
                        all: unset;
                        padding: 8px;
                        margin: 8px;
                        border-radius: 16px;
                        min-height: 50px;
                        min-width: 50px;
                        border-radius: 50px;
                        transition: .2s;

                        &:hover {
                            background-color: $color_1;
                        }

                        label {
                            font-size: 40px;
                        }
                    }
                }
            }

            .halfPlayer {
                background-color: $color_2;
                margin-bottom: 16px;
                padding: 16px;
                border-radius: 16px;
                box-shadow: 0 0 20px -10px black;

                .cover {
                    min-width: 200px;
                    min-height: 200px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 8px;
                    border: 4px solid $color_8;
                    box-shadow: inset 0 0 5px black;
                }

                .info {
                    padding: 16px;

                    .title {
                        font-weight: 600;
                    }

                    .author {
                        margin-top: 8px;
                    }
                }

                .commands {
                    margin: 0 32px;

                    .button {
                        all: unset;
                        padding: 8px;
                        margin: 8px;

                        label {
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}