$color_1: #e8e8e8;
$color_2: #F5F5F5;
$color_3: #000000; // not used
$color_4: #1088ED;
$color_5: #CA6197; //not used
$color_6: #3233C7;
$color_7: #CA6197;
$color_8: #FD9B63;
$color_9: #030233;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}