$color_1: #ffffff;
$color_2: #ffffff;
$color_3: #000000;
$color_4: #000000;
$color_5: #000000;
$color_6: #000000;
$color_7: #000000;
$color_8: #000000;
$color_9: #000000;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}