$color_1: #fdfcde;
$color_2: #ffcdce;
$color_3: #E2CDE8;
$color_4: #3c2e3d;
$color_5: #9e667f;
$color_6: #9e667f;
$color_7: #9e667f;
$color_8: #3c2e3d;
$color_9: #3c2e3d;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}