$color_1: #2B2724;
$color_2: #1F1919;
$color_3: #F2BD95;
$color_4: #638AA7;
$color_5: #e25987;
$color_6: #638AA7;
$color_7: #638AA7;
$color_8: #FDDCA9;
$color_9: #FFFFFF;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}